body {
  background-color: lightgrey;
}

.main {
  display: block;
  margin: auto;
  margin-top: 5vh;
  height: 90vh;
  width: 760px;
  background-color: white;
  padding: 20px;
}

.page-title{
  text-align: center;
  color: black;
  font-size: 35px;
  margin-bottom: 20px;
  background-color: ;
}

.quote-wrapping{
  display: block;
  background-color: beige;
  padding: auto;
}

.quotebox-style{
  /* display: block; */
  padding: 30px;
  font-size: 35px;
  font-family: 'IM Fell Double Pica', serif;


}
.authorbox-style{
  display: block;
  padding: 30px;
  text-align: right;
}

.btn-div{
  display: block;
  margin-top: 20px;
  float: right;
}

.twitter-div{
  display: block;
  margin-top: 20px;
  float: left;
  background-color: #1DA1F2;
  color: white;
  /* font-family: Helvetica, Arial, sans-serif; */
}
.footer {
  display: block;
  text-align: center;
  padding: 5px;
  margin-top: 10vh;
  font-size: 12px;
  color: grey;

}

@media only screen and (max-width: 830px) and (min-width: 450px){
    .main {
        width: 90vw;
    }
}

@media only screen and (max-width: 450px) and (min-width: 10px) {
    .main {
        width: 100vw;
    }
}

@media only screen and (max-height: 700px) and (min-height: 501px) {
    .main {
      height: 100vh;
      margin-top: 0px;
    }

}

@media only screen and (max-height: 500px) {
  .footer{
    margin-top: 60px;
    text-align: center;
  }
}
